.location {
    margin: 40px;

    &__container {
        display: flex;
        justify-content: space-between;
        margin: 100px 80px;
        gap: 6rem;
    }
}

.selectedPayment {
    background-color: #9acdc1;
    color: white;
    border: none !important;
    
}


@media (max-width:650px) { 
    
    .location {
        margin: 20px 20px 100px 20px;

        &__container {
            display: flex;
            flex-direction: column;
            margin: 40px 20px 20px 20px;
            gap: 4rem;
        }
    }
}