.register {
    color: #288e7c;
    background-image: url('../../assets/ground.png');
    height: 100vh;
    background-size: cover;

    &__back {
        position: absolute;
        left: 50px;
        top: 40px;
    }
}

@media (max-width:650px) {
    .register {
        background-image: none;

        &__back {
            left: 20px;
            top: 20px;
        }
    }

}