.adminProduct {
    margin: 40px 150px;

    &__all {
        display: flex;
        gap: 6rem;
        margin-right: 10rem;
    }

    &__container {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2rem;
    }

    &__item {
        width: 100%;
        display: flex;
        gap: 2rem;
        align-items: center;
    }

}

@media (max-width:850px) {

    .adminProduct {

        margin: 20px;

        &__info {
            display: none;
        }

        &__agotado {
            display: none;
        }
        &__all {
            gap: 0;
            margin-right: 0;
        }

        &__item {
            justify-content: center;
        }
    }
}

