.products {

    &__search {
        border: 1px solid black;
        border-radius: 50px;
        outline: none;
        padding: 3px;
        padding-left: 35px;
    }

    &__li {
        cursor: pointer;
    }

    &__li:hover {
        color: #288e7c;
        text-decoration: underline;
    }
}


.selected {
        color: #288e7c;
        text-decoration: underline;
    }