@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.button__login {
    border: solid 1px #288e7c;
    border-radius: 50px;
    padding: 4px;
    width: 60%;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.container__login {
    border: solid 1px #288e7c;
}

.button__page {
    background-color: #9acdc1;
    border-radius: 50px;
    font-size: 14px;
    color: white;
    font-weight: 600;
}