.sales {
  padding: 50px 120px 50px 120px;
  display: flex;
  gap: 6rem;
}

.sales-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .sales-history {
    margin-top: 40px;
    width: 100%;
  }

  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    text-align: left;

  }
  
  th {
    background-color: #9acdc1;
  }

  .sales__responsive {
    display: none;
  }

  .sales__item {
    margin-top: 40px;
    width: 100%;
    border:#288e7c 2px solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
  }
  

  .sales-history-container {
    display: flex;
    flex-wrap: wrap;
  }

  strong {
    color: #288e7c;
    margin-right:5px;
  }


  @media (max-width: 850px) {

    .sales {
      padding: 20px;
      gap: 0;
    }

    .sales__desktop {
      display: none;
    }

    .sales__responsive {
      display: flex;
    }

  }