.sales-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .charts {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  .chart {
    margin: 20px;
  }
  
  .sales-history {
    margin-top: 40px;
    width: 100%;
  }
  
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #9acdc1;
  }
  