.details {

    margin: 40px;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    &__container {
        display: flex;
        justify-content: space-between;
        margin: 0px 50px;
    }

    &__nameUp {
        display: none;
    }

    &__paragraph {
        width: 30%;
    }

    &__photos {
        display: flex;
        flex-direction: column;
    }

    &__size{
        display: flex;
        background-color: #9acdc1;
        color: white;
        justify-content: center;
    }

    &__price{
        font-weight: bold;
        color: #288e7c;
        font-size: 20px;
    }

    &__info {
        width: 30%;
    }
}

@media (max-width:650px) {

    .details {
        margin: 20px;
        gap: 2rem;

        &__container {
            display: flex;
            flex-direction: column;
            margin: 0px 10px;
            gap: 2rem;
        }

        &__paragraph {
            display: none;
        }

        &__photosContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__photos {
            display: flex;
            flex-direction: row;
        }

        &__info {
            width: 100%;
            gap: 2rem;
        }

        &__name {
            display: none;
        }

        &__nameUp {
            display: flex;
        }
    }
}