.details {
    margin: 40px 60px;
    display: flex;
    gap: 5rem;

    &__container {
        display: flex;
        justify-content: space-between;
        margin: 0px 50px;
    }

    &__nameUp {
        display: none;
    }

    &__photos {
        display: flex;
        flex-direction: column;
    }

    &__size{
        display: flex;
        background-color: #9acdc1;
        color: white;
        justify-content: center;
    }

    &__price{
        font-weight: bold;
        color: #288e7c;
        font-size: 20px;
    }

    &__info {
        width: 30%;
    }
}

.details__photosContainer {
    position: relative;
    overflow: hidden;
    
    .w-80 {
        height: auto;
        transition: transform 0.3s ease-in-out;
    }
}
.details__photos {
    img:hover {
        transform: scale(1.1); 
        cursor: pointer;
    }
}

.heart-icon {
    width: 25px;
    height: 25px;
    fill: rgb(177, 169, 169); 

  }
  
  .heart-icon-filled {
    fill: red; 
    stroke: none; 
  }
  
@media (max-width:650px) {

    .details {
        margin: 20px 20px 100px 20px;
        gap: 2rem;

        &__container {
            display: flex;
            flex-direction: column;
            margin: 0px 10px;
            gap: 2rem;
        }

        &__photosContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__photos {
            display: flex;
            flex-direction: row;
        }

        &__info {
            width: 100%;
            gap: 2rem;
        }

        &__name {
            display: none;
        }

        &__nameUp {
            display: flex;
        }
    }
}