.details {

    &__size{
        display: flex;
        background-color: #9acdc1;
        color: white;
        justify-content: center;
    }

    &__price{
        font-weight: bold;
        color: #288e7c;
        font-size: 20px;
    }
}